* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 32px;
}

h1 {
    color: darkblue;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}